body {
    background-color: #C19AB3 ;
    margin: 0px;
    padding: 0px;
}
.container{
    margin: 0;
    padding: 0;
    width: 1200px;
    height: 300px;
    padding: 0 50px 0 50px;
    display: block;
}
.container2{
    display: flex;
    margin: 0;
    padding: 0 50px 0 50px;
    width: 1200px;
    height: 780px;
    justify-content: space-around;
}
.logo {
    width: 800px;
    margin-top: 45px;
    margin-bottom: 45px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    padding: 0px;
}
.instructions img {
    width: 300px;
    height: 500px;
    margin: 0px 20px 20px 0px;
    padding: 0px;
    background-color: #C19AB3;
}
.start-game img{
    width: 800px;
    height: 500px;
    margin: 0px 20px 0px 25px;
    padding: 0px;
}
.background-toHide {
    visibility: visible;
}
.staring {
    visibility: hidden;
    width: 800px;
    margin: 0px 20px 0px 50px;
    padding: 0px;
}
#btn-center {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
.no-background {
    background-color: #C19AB3;
    border: none;
    text-align: center;
    text-decoration: none;
}
#btn-center img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 400px;
    height: auto;
    cursor: pointer;
}
#btn-center-dos {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}
#btn-center-dos img {
    margin-right: auto;
    margin-left: auto;
    display: block;
    width: 400px;
    height: auto;
    cursor: pointer;
}
.staring-dos {
    visibility: hidden;
    width: 800px;
    margin: 0px 20px 0px 50px;
    padding: 0px;
}
.score {
    width: 300px;
    height: 500px;
    margin: 0px 0px 100px 25px;
    padding: 0px;
    background-color: #E9ABCD;
}
#canvas {
    width: 800px;
    height: 500px;
    background:rgb(253, 195, 244);
    position: absolute;
    top: 343px;
    left: 400px;
}